
body {
	background: #000000;
	margin    : 0;	
}

.contenedor{
	margin: 0 auto;	
	text-align: center;
}

figure {	
	margin: 0;
}
img{
	position: relative;
	-webkit-transition: opacity 10s ease-in-out; 	
 	-moz-transition: opacity 10s ease-in-out; 	
 	-o-transition: opacity 10s ease-in-out; 	
 	transition: opacity 10s ease-in-out;
 	opacity: 0;
	width: 100%; 	 	
	max-width: 450px;	
}

.b-loaded {
	opacity: 1;	
}